@media only screen and (max-width: 38.444rem) {
   .flex-item {
      flex: 1 100%;
   }

   #winning, #slowly {
      text-align: center;
   }

   article {
      .title {
         text-align: center;
         padding-left: 1em;
         padding-right: 1em;
         order: 2;
      }

      .meta {
         text-align: center;
         padding-right: 1em;
         padding-left: 1em;
         height: auto;
         margin-bottom: 0.364em;
         padding-bottom: 0;
         order: 1;
      }
   }
}
