/* _mixins.scss */

/* Flexbox */
@mixin align-items($values) {
   -webkit-align-items: $values;
   -moz-align-items: $values;
   -ms-align-items: $values;
   align-items: $values;
}

@mixin flexbox() {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
}

@mixin flex($values) {
   -webkit-box-flex: $values;
   -moz-box-flex:  $values;
   -webkit-flex:  $values;
   -ms-flex:  $values;
   flex:  $values;
}

@mixin flex-flow($values) {
   -webkit-flex-flow: $values;
   -moz-flex-flow: $values;
   -ms-flex-flow: $values;
   flex-flow: $values;
}

@mixin justify-content($values) {
   -webkit-justify-content: $values;
   -moz-justify-content: $values;
   -ms-justify-content: $values;
   justify-content: $values;
}

@mixin order($val) {
   -webkit-box-ordinal-group: $val;
   -moz-box-ordinal-group: $val;
   -ms-flex-order: $val;
   -webkit-order: $val;
   order: $val;
}
