<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@winningslowly" />
<meta name="twitter:creator" content="@winningslowly" />
{% if article is defined %}
   <meta name="twitter:title" content="{{ article.title }}" />
   <meta name="twitter:description" content="{{ article.summary }}" />
{#   <meta name="twitter:image" content="{{  }}" />#}
{% else %}
   <meta name="twitter:title" content="{{ SITENAME }}" />
   <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}" />
   <meta name="twitter:image" content="{{ LOGO }}" />
{% endif %}
