{% extends "base.html" %}
{% block title %}{{ article.title}} &#9702; {{ SITENAME }} {% endblock %}
{% block content %}
   <article>
      {% include "includes/item-header.html" %}

      <audio title="{{ article.title }}" controls="controls" preload="metadata">
         <source src="{{ PODTRAC_M4A }}/{{ article.m4a }}" />
         <source src="{{ PODTRAC_MP3 }}/{{ article.mp3 }}" />
      </audio>

      <section id="notes">
         {{ article.content }}
      </section>
   </article>
{% endblock content %}
