{% extends "base.html" %}
{% block title %}{{ article.title}} &#9702; {{ SITENAME }} {% endblock %}
{% block description %}{{ article.description|striptags }}{% endblock %}
{% block content %}
   <article>
      {% include "includes/item-header.html" %}

      <audio title="{{ article.title }}" controls="controls" preload="metadata">
         <source src="{{ PODTRAC_M4A }}/{{ CDN }}/{{ article.category }}.{{ article.number }}{{ M4A }}" />
         <source src="{{ PODTRAC_MP3 }}/{{ CDN }}/{{ article.category }}.{{ article.number }}{{ M4A }}" />
      </audio>

      <section id="notes">
         {{ article.content }}
      </section>
   </article>
{% endblock content %}
