<!DOCTYPE html>
<html lang="{{DEFAULT_LANG}}" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article">

<head>
   <title>{%block title%}{{SITENAME}}{%endblock%}</title>
   <meta
      name="description"
      content="{%block description%}{{SITE_DESCRIPTION}}{%endblock%}"
   />

   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width,initial-scale=1" />
   <link rel="author" href="humans.txt" />
   {%include "includes/social-graph.html"%}

   <link href="/{{CSS_FILE}}" type="text/css" rel="stylesheet" />
   <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
      rel="stylesheet"
   />
   {%if CUSTOM_FEED_URL%}
   <link
      href="/{{CUSTOM_FEED_URL}}"
      type="application/rss+xml"
      rel="alternate"
      title="{{SITENAME}} RSS Feed"
   />
   {%endif%}

   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   <link rel="manifest" href="/site.webmanifest">
   <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2369af">
   <meta name="msapplication-TileColor" content="#2369af">
   <meta name="theme-color" content="#2369af">

</head>
<body>
   <main class="Main">
      <a class='Banner' href="/">
         <h1 class='Banner-title BannerTitle'>
            <span class='BannerTitle-text BannerTitle-text--winning'>Winning</span>
            <span class='BannerTitle-text BannerTitle-text--slowly'>Slowly</span>
         </h1>
         <h2 class='Banner-subtitle BannerSubtitle'>
            <span class='BannerSubtitle-line'>Taking the long view on</span>
            <span class='BannerSubtitle-line'>technology, religion, ethics, and art.</span>
         </h2>
      </a>

      {%block before_content%}{%endblock%}

      <hr>

      {%block content%}{%endblock%}

      {%block after_content%}{%endblock%}
   </main>

   <nav class='SeasonNav'>
      {%block section_nav%}
         {%for cat, _ in categories%}
            <a class="SeasonNav-season" href="/{{cat.url}}">
               {%if SEASONS[cat.name].prefix != None%}
                  {{SEASONS[cat.name].prefix}}
               {%elif SEASONS[cat.name].title != None%}
                  {{SEASONS[cat.name].title}}
               {%endif%}
            </a>
         {%endfor%}
      {%endblock%}
   </nav>
</body>

</html>
