<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">
<head>
   <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
   <meta name="description" content="" />

   <meta charset="UTF-8"/>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

   {# Authorship #}
   {% include "identity/app.net.html" %}
   {% include "identity/twitter.html" %}

   <link href="{{ SITEURL }}/{{ THEME_STATIC_URL }}/css/{{ CSS_FILE }}" type="text/css" rel="stylesheet" />

   {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
   {% endif %}
   {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
   {% endif %}

</head>
<body>

</body>
</html>
