{% extends "archives.html" %}
{% set seasonPrefix = 'Season' if category not in SPECIAL_CATEGORIES else '' %}
{% block title %} {{ seasonPrefix }} {{ category }} &#9702; {{ SITENAME }}{% endblock %}
{% block heading %}
<h2 class="season">
   {{ seasonPrefix }} {{ category }}
</h2>
{% endblock %}

{% block section_nav %}
<nav class='category nav'>
   {% set curr = category.name|int %}
   {% if category not in SPECIAL_CATEGORIES %}
      {% for cat, _ in categories %}
         {% if cat not in SPECIAL_CATEGORIES %}
            {% set int_cat = cat.name|int %}
            {% if int_cat == (curr + 1) %}
               <a class="season-link next" href="/{{ cat.url }}">Season {{ cat }}<i class="fa fa-fw fa-long-arrow-right"></i></a>
            {% elif int_cat == (curr - 1) %}
               <a class="season-link prev" href="/{{ cat.url }}"><i class="fa fa-fw fa-long-arrow-left"></i>Season {{ cat }}</a>
            {% endif %}
         {% endif %}
      {% endfor %}
   {% else %}
      <a class='season-link' href='/'>Home</a>
   {% endif %}
</nav>
{% endblock %}
