{% extends "archives.html" %}
{% set prefix = SEASONS[category.name].prefix ~ ': ' if SEASONS[category.name].prefix else '' %}
{% set title = SEASONS[category.name].title if SEASONS[category.name].title else '' %}
{% set metatitle = prefix ~ title %}
{% set shouldReverse = true %}

{% block title %}{{metatitle}} &#9702; {{ SITENAME }}{% endblock %}

{% block heading %}
   <h2 class="SeasonHeading">
      {%if SEASONS[category.name].prefix%}
         <span class='SeasonHeading-prefix'>{{SEASONS[category.name].prefix}}</span>
      {%endif%}
      <span class='SeasonHeading-title'>{{title}}</span>
   </h2>
{% endblock %}

{% block section_nav %}
   {% set curr = category.name|int %}
   {% if SEASONS[category.name].number %}
      {% for cat, _articles in categories %}
         {% if SEASONS[cat.name].number %}
            {% set prefix = SEASONS[cat.name].prefix %}
            {% set text = SEASONS[cat.name].prefix if prefix else SEASONS[cat.name].title %}

            {% set int_cat = cat.name|int %}
            {% if int_cat == (curr + 1) %}
               <a class="SeasonNav-season SeasonNav-season--next" href="/{{ cat.url }}">
                  {{text}} <i class="fa fa-fw fa-long-arrow-right"></i>
               </a>
            {% elif int_cat == (curr - 1) %}
               <a class="SeasonNav-season SeasonNav-season--prev" href="/{{ cat.url }}">
                  <i class="fa fa-fw fa-long-arrow-left"></i> {{text}}
               </a>
            {% endif %}
         {% endif %}
      {% endfor %}
   {% else %}
      {# TODO: this duplicates the nav in base.html; extract to a macro #}
      {%for cat, _ in categories%}
         <a class="SeasonNav-season" href="/{{cat.url}}">
            {%if SEASONS[cat.name].prefix != None%}
               {{SEASONS[cat.name].prefix}}
            {%elif SEASONS[cat.name].title != None%}
               {{SEASONS[cat.name].title}}
            {%endif%}
         </a>
      {%endfor%}
   {% endif %}
{% endblock %}
