{% extends "base.html" %}

{% block body_el %}<body class="archive">{% endblock %}

{% block content %}
{% block heading %}{% endblock %}
<article>
    <h3>Upcoming: Season 1</h3>
    <p>Winning Slowly is on hiatus until July 15, when it will relaunch with the start of Season 1. In the meantime, feel free to listen to the episodes in Season 0, and send us thoughts, comments, and suggestions on <a href="https://twitter.com/winningslowly">Twitter</a>, <a href="https://www.facebook.com/winningslowlypodcast">Facebook</a>, or <a href="https://app.net/winningslowly">App.net</a>!</p>
    <h3>Season 0</h3>
</article>
{% if articles %}
   {% for article in articles %}
      <article>
         <header>
            <a href="{{ SITEURL}}/{{ article.url }}">
               <div class="title">
                  <span id="episode-num">Episode {{ article.number }}</span>
                  <span id="episode-title">{{ article.title }}</span>
               </div>
               <div class="meta">
                  <span id="episode-date">{{ article.locale_date }}</span>
                  <span id="episode-subtitle">{{ article.subtitle }}</span>
               </div>
            </a>
         </header>
      </article>
   {% endfor %}
{% else %}
   {% include "includes/404-content.html" %}
{% endif %}
{% endblock content %}
