{% extends "base.html" %}
{% block body_el %}<body class="archive index">{% endblock %}
{% block content %}
    <article>
        <p>There are plenty of podcasts that will tell you how Apple’s latest product will affect the tech landscape <em>tomorrow</em>, but there aren’t that many concerned with the potential impact of that tech a decade from now. In a culture obsessed with <em>now</em>, how can we make choices with a view for tomorrow, next year, and beyond?</p>
        <p>Episodes (usually) come out every Tuesday at 7 am Eastern time. If unforeseen scheduling issues arise, we will add a note below accordingly. Episodes are normally 25–30 minutes long.</p>
        <p>You can subscribe to our <a class="social-inline-link" href="/feed.xml"><i class="fa fa-fw fa-rss"></i>feed</a> directly or via <a class="social-inline-link" href="{{ IDENTITY['Site']['iTunes'] }}"><i class="fa fa-fw fa-play-circle"></i>iTunes</a>. You can also find us on <a class="social-inline-link" href="{{ IDENTITY['Site']['Twitter'] }}"><i class="fa fa-twitter"></i>Twitter</a>, <a class="social-inline-link" href="{{ IDENTITY['Site']['Facebook'] }}"><i class="fa fa-facebook"></i>Facebook</a>, or <a class="social-inline-link" href="{{ IDENTITY['Site']['App.net'] }}"><i class="fa fa-fw fa-adn"></i>App.net</a>.</p>
        <p>You can support the show via a monthly pledge at <a href="{{ IDENTITY['Site']['Patreon'] }}">Patreon</a> or by giving directly with <a href="{{ IDENTITY['Site']['Square'] }}">Square Cash</a>. 10% of all support for the show goes to the Internet Archive.</p>
        <h3>Current (<a href="/season-3.html">Season 3</a>)</h3>
    </article>
{% for article in articles %}
{% if article.category == CURRENT_SEASON %}
<article>
   <header>
      <a href="{{ SITEURL}}/{{ article.url }}">
         <div class="title">
            <span id="episode-num">Episode {{article.category}}.{{ article.number }}</span>
            <span id="episode-title">{{ article.title }}</span>
         </div>
         <div class="meta">
            <span id="episode-date">{{ article.locale_date }}</span>
            <span id="episode-subtitle">{{ article.subtitle }}</span>
         </div>
      </a>
   </header>
</article>
{% endif %}
{% endfor %}

    <article>
        <h3>Previous</h3>
        <section>
            <h4 id="season-2"><a href="/season-2.html">Season 2</a></h4>
            <p>Season 2 began with <a href="//www.winningslowly.org/2.01/">2.01: Take My Money Please!</a> on January 27, 2015 and concluded with <a href="//www.winningslowly.org/2.15/">2.15: Metapodcasting</a> on May 12, 2015.</p>
        </section>
        <section>
            <h4 id="season-1"><a href="/season-1.html">Season 1</a></h4>
            <p>Our first “official” season—the one that was <em>not</em> a “beta”—started on July 15, 2014, with <a href="//www.winningslowly.org/1.01/">1.01: Massive Emotional Contagion</a>, and wrapped up with the release of <a href="//www.winningslowly.org/1.18/">1.18: Keep On Keepin’ On</a> on November 18, 2014.</p>
            <p>The main hiccup in Season 1? Stephen’s audio. It varies like crazy week to week, for reasons that eluded us. We blame grumpy, grumpy monkeys.</p>
        </section>
        <section>
            <h4 id="season-0"><a href="/season-0.html">Season 0</a></h4>
            <p>Our first season: “This is a beta; bear with us!”—in which we spent a few months just figuring out what we were doing, ran from January 28, 2014 until May 20, 2014. Seriously: we had <em>no idea</em> what we were doing; we just knew we had a good idea for a show and wanted to figure out how to make it work. There is good content here, but we have kept this around mostly for historical interest—it’s <em>rough</em>.</p>
            <p>Episodes ranged in length from over 45 minutes to under 20 minutes as we figured out our approach to the show, solicited regular feedback, and general got a handle on the whole thing. By the final episode, <a href="//www.winningslowly.org/0.14/">0.14: Deep In Their Bones</a>, we had found our basic formula and settled into a nice rhythm, which we were then able to carry into Season 1.</p>
        </section>
    </article>

    <article>
        <h3 id="who">Who</h3>
        <section>
            <p><strong>Chris Krycho</strong> is a <a href="//www.sebts.edu/" title="Southeastern Baptist Theological Seminary">seminarian</a>, <a href="//represent.io/chriskrycho">web designer and developer</a>, <a href="//chriskrycho.com" title="chriskrycho.com">writer</a>, and <a href="//soundcloud.com/chriskrycho">classical composer</a>.</p>
            <p><strong>Stephen Carradini</strong> is a <a href="//crdm.chass.ncsu.edu/students" title="Communication, Rhetoric, and Digital Media program, North Carolina State University">digital media scholar</a>, <a href="//independentclauses.com" title="Independent Clauses music blog">writer</a>, <a href="//stephencarradini.com" title="StephenCarradini.com">editor</a>, and <a href="//themidnightsons.bandcamp.com" title="The Midnight Sons">songwriter</a>.</p>
            <p>They both reside in North Carolina.</p>
        </section>
    </article>
{% endblock %}
