<article>
   <header class="ItemInfo">
      <section class="ItemInfo-titles">
         <h1 class="ItemTitle">
            <span class="ItemTitle-component ItemTitle-component--num">
               Hang on!
            </span>
            <span class="ItemTitle-component ItemTitle-component--title">
               Something isn't right here.
            </span>
         </h1>
         <p class="ItemSubtitle">But don't panic.</p>
      </section>
   </header>
   <p>
      It probably just means that Chris made a silly configuration move on the back end (in which case you should <a href="mailto:hello@winningslowly.org?subject=Website bug!">email him</a>), or that you accidentally typed a bad link.
   </p>

   <p>
      In the meantime, maybe you just want to go to the <a href="{{ SITEURL }}">home page</a>?
   </p>
</article>
