<hr>

<article class="Content Content--index Content--subscribe">
   <h3>Subscribe, Follow, and Interact</h3>
   <p>
      You can subscribe in <a class="social-inline-link" href="{{IDENTITY['Site']['iTunes']}}"><i class="fa fa-fw fa-play-circle"></i>iTunes</a>, <a href="{{ IDENTITY['Site']['Overcast'] }}"><i class="fa fa-fw fa-play-circle-o"></i>Overcast</a>, <a href="{{ IDENTITY['Site']['Pocket Casts'] }}"><i class="fa fa-fw fa-play-circle"></i>Pocket Casts</a>, or nearly any other podcast app via <a class="social-inline-link" href="/feed.xml"><i class="fa fa-fw fa-rss"></i>RSS feed</a>.
   </p>
   <p>
      You can also <a class="social-inline-link" href="{{IDENTITY['Site']['Email']}}"><i class="fa fa-fw fa-envelope"></i>send us an email</a> (our favorite!) or follow us on <a href="{{ IDENTITY['Site']['Twitter'] }}"><i class="fa fa-fw fa-twitter"></i>Twitter</a>.
   </p>
</article>

<article class='Content Content--index'>
   <h3 id="support-us">Support Us!</h3>
   <p>You can support the show via a monthly pledge at
      <a href="{{IDENTITY['Site']['Patreon']}}">Patreon</a> or by giving directly with
      <a href="{{IDENTITY['Site']['Square']}}">Square Cash</a>. 10% of all support for the show goes to the Internet Archive.</p>

   <h4>Sponsors</h4>
   <ul class='sponsors-list'>
      <li class='sponsors-list__sponsor'>Kurt Klassen (September–October 2016)</li>
   </ul>
</article>

<article class='Content Content--index'>
   <h3 id="who">Who</h3>
   <section>
      <p>
         <strong>Chris Krycho</strong> is a
         <a href="https://www.olo.com" title="Online ordering by OLO">software engineer</a>,
         <a href='https://www.chriskrycho.com/podcasts' title='podcasts'>podcaster</a>,
         <a href="https://www.chriskrycho.com" title="chriskrycho.com">writer</a>, and
         <a href="https://soundcloud.com/chriskrycho">occasional composer</a>. He lives with his family in Colorado.
      </p>
      <p>
         <strong>Stephen Carradini</strong> is a
         <a href="https://cisa.asu.edu/tech-comm/faculty" title="Assistant Professor of Technical Communication in Arizona State University’s Technical Communication">digital media scholar and professor</a>,
         <a href="//independentclauses.com" title="Independent Clauses music blog">writer</a>,
         <a href="//stephencarradini.com" title="StephenCarradini.com">editor</a>, and
         <a href="//themidnightsons.bandcamp.com" title="The Midnight Sons">songwriter</a>. He lives with his family in Arizona.
      </p>
   </section>
</article>
