{# Requires that there be an `item` of either `post` or `article` type
   available---whether as an item in a loop, or as the only element available
   doesn't matter. #}

{%if article is defined%}
   {%set item = article%}
   {%set mp3 = PODTRAC_MP3 + "/" + CDN + "/" + audio_slug + MP3%}

{%elif page is defined%}
   {%set item = page%}
{%endif%}

{%if item is defined%}
<header class="ItemInfo">
   <section class="ItemInfo-titles">
      <h1 class="ItemTitle">
      {%if item.number is defined%}
         {%set season = SEASONS[item.category.name]%}
         {%set prefix = season.epPrefix%}
         {%set sep = season.epSep%}
         {%set number = season.number ~ sep ~ item.number if season.number else item.number%}
         <span class="ItemTitle-component ItemTitle-component--num">{{prefix}} {{number}}</span>
         <span class="ItemTitle-component ItemTitle-component--title">{{item.title}}</span>
      {%else%}
         <span class="ItemTitle-component ItemTitle-component--title">{{item.title}}</span>
      {%endif%}
      </h1>
      {%if item.subtitle%}
         <h2 class="ItemSubtitle">{{item.subtitle}}</h2>
      {%endif%}
      {%if page is defined%}
         <hr>
      {%endif%}
   </section>

   {%if item.date is defined or item.tags is defined or item.mp3 is defined%}
   <section class="ItemInfo-meta ItemMeta">
      {%if item.date is defined%}
      <p class="ItemMeta-entry ItemMeta-entry--date">{{item.locale_date}}</p>
      {%endif%}

      {%if item.tags is defined%}
      <p class="ItemMeta-entry ItemMeta-entry--topics ItemTopics">
         Topics:
         {%for tag in item.tags|sort%}
            {%set sep = ', ' if not loop.last else ''%}
            <a href="/{{tag.url}}" class="ItemTopics-topic">{{tag}}</a>{{sep}}
         {%endfor%}
      </p>
      {%endif%}
   </section>
   {%endif%}
</header>
{%endif%}
