<article id='about' class="Content Content--index Content--subscribe">
   <h3>About</h3>

   <h4>Subscribe, Follow, and Interact</h4>
   <p>
      You can subscribe in <a class="social-inline-link" href="{{IDENTITY['Site']['iTunes']}}"><i class="fa fa-fw fa-play-circle"></i>iTunes</a>, <a href="{{ IDENTITY['Site']['Overcast'] }}"><i class="fa fa-fw fa-play-circle-o"></i>Overcast</a>, <a href="{{ IDENTITY['Site']['Pocket Casts'] }}"><i class="fa fa-fw fa-play-circle"></i>Pocket Casts</a>, or nearly any other podcast app via <a class="social-inline-link" href="/feed.xml"><i class="fa fa-fw fa-rss"></i>RSS feed</a>.
   </p>
   <p>
      You can also <a class="social-inline-link" href="{{IDENTITY['Site']['Email']}}"><i class="fa fa-fw fa-envelope"></i>send us an email</a> (our favorite!) or follow us on <a href="{{ IDENTITY['Site']['Twitter'] }}"><i class="fa fa-fw fa-twitter"></i>Twitter</a>.
   </p>

   <h4 id="support-us">Support Us!</h4>
   <p>You can support the show via a monthly pledge at
      <a href="{{IDENTITY['Site']['Patreon']}}">Patreon</a> or by giving directly with
      <a href="{{IDENTITY['Site']['Square']}}">Square Cash</a>. 10% of all support for the show goes to the Internet Archive.</p>

   <h5>Sponsors</h5>
   <ul class='sponsors-list'>
      <li class='sponsors-list__sponsor'>Kurt Klassen (September 2016 – July 2018)</li>
   </ul>

   <h4 id="who">The Hosts</h4>
   <p>
      <strong>Chris Krycho</strong> is a
      <a href="https://linkedin.com" title="LinkedIn">software engineer</a>,
      <a href='https://www.chriskrycho.com/podcasts' title='podcasts'>podcaster</a>,
      <a href="https://www.chriskrycho.com" title="chriskrycho.com">writer</a>, and
      <a href="https://soundcloud.com/chriskrycho">occasional composer</a>. He lives with his family in Colorado.
   </p>
   <p>
      <strong>Stephen Carradini</strong> is a
      <a href="https://cisa.asu.edu/tech-comm/faculty" title="Assistant Professor of Technical Communication in Arizona State University’s Technical Communication">digital media scholar and professor</a>,
      <a href="//independentclauses.com" title="Independent Clauses music blog">writer</a>,
      <a href="//stephencarradini.com" title="StephenCarradini.com">editor</a>, and
      <a href="//themidnightsons.bandcamp.com" title="The Midnight Sons">songwriter</a>. He lives with his family in Arizona.
   </p>

   <h4>Privacy</h4>
   <p>
      We collect zero data about your use of this website. We use <a href='https://analytics.podtrac.com'>Podtrac</a> to gather very limited aggregate statistics about our listenership—the total number of downloads per episode, and the countries of our listenership. That’s it, and it always will be.
   </p>

   <h4>License</h4>
   <p>
      &copy;2013&ndash;2019 Stephen Carradini and Chris Krycho.
   </p>
   <p>
      Design by <a href="{{ IDENTITY['Chris']['Homepage'] }}">Chris Krycho</a>, using <a href='https://klim.co.nz/retail-fonts/tiempos-headline/'>Tiempos Headline</a> and <a href='https://klim.co.nz/retail-fonts/tiempos-text/'>Tiempos Text</a>, by <a href="https://klim.co.nz/">Klim Type Foundry</a>.
   </p>
   <p>
      Source code available <a href='https://github.com/winningslowly/winningslowly.org'>on GitHub</a>.
   </p>
   <p>
      All content licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      (Translation: please <em>don't</em> just copy and paste; please <em>do</em> copy and modify for any use, giving credit where due.)
      <a href="{{ SITEURL }}/licenses.html">Read more on our licenses.</a>
   </p>
</article>
