<div id="about" class="footer_item">
   <h1>About</h1>
   <p>
      Some descriptive text, giving an overview of what the site is about.
      <a href="">Read more &rarr;</a>
   </p>
</div>
<div id="social-wrapper" class="footer_item">
   <h1>Connect</h1>
   <h2>Winning Slowly</h2>
   <ul>
      <li><a href="{{ IDENTITY['Site']['Twitter'] }}">Twitter</a></li>
      <li><a href="{{ IDENTITY['Site']['App.net'] }}">App.net</a></li>
      <li><a href="{{ IDENTITY['Site']['App.net Broadcast'] }}">App.net Broadcast</a></li>
      <li><a href="{{ IDENTITY['Site']['Google+'] }}">Google+</a></li>
   </ul>
   <h2>Stephen Carradini</h2>
   <ul>
      <li><a href="{{ IDENTITY['Stephen']['Twitter'] }}">Twitter</a></li>
      <li><a href="{{ IDENTITY['Stephen']['Homepage'] }}">stephencarradini.com</a></li>
   </ul>
   <h2>Chris Krycho</h2>
   <ul>
      <li><a href="{{ IDENTITY['Chris']['App.net'] }}">App.net</a></li>
      <li><a href="{{ IDENTITY['Chris']['Twitter'] }}">Twitter</a></li>
      <li><a href="{{ IDENTITY['Chris']['Homepage'] }}">chriskrycho.com</a></li>
   </ul>
</div>
