{# Requires that there be an `item` of either `post` or `article` type
   available---whether as an item in a loop, or as the only element available
   doesn't matter. #}

{% if article is defined %}
   {% set item = article %}
{% elif page is defined %}
   {% set item = page %}
{% endif %}


{% if item is defined %}
<header>
   <div class="title">
      <h1>
      {% if item.number is defined %}
         <span id="episode-num">Episode {{ item.number }}</span><span id="episode-title">{{ item.title }}</span>
      {% else %}
         {{ item.title }}
      {% endif %}
      </h1>
      {% if item.subtitle %}<p class="subtitle">{{ item.subtitle }}</p>{% endif %}
   </div>
   <div class="meta">
   {% if item.date is defined or item.tags is defined or item.m4a is defined or item.mp3 is defined %}
      <ul>
         {% if item.date %}<li id="date">{{ item.locale_date }}</li>{% endif %}

         {% if item.tags is defined %}
         <li id="topics">
            Topics:
            {% for tag in item.tags %}
               <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
         </li>
         {% endif %}

         {% if item.m4a is defined or item.mp3 is defined %}
         <li id="download">
            Download:
               {% if item.m4a %}<a href="{{ item.m4a }}" download="test.m4a">M4A</a> (for iTunes){% endif %}
               {% if item.m4a and item.mp3 %} or {% endif %}
               {% if item.mp3 %}<a href="audio_assets/test.mp3" download="test.mp3">MP3</a>{% endif %}
         </li>
         {% endif %}
      </ul>
   {% endif %}
   </div>
</header>
{% endif %}
