<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@winningslowly" />
<meta name="twitter:creator" content="@winningslowly" />

{%set logo%}
   <meta property="og:image" content="{{SITEURL}}/{{LOGO}}" />
   <meta property="og:image:type" content="image/png" />
   <meta property="og:image:width" content="1400" />
   <meta property="og:image:height" content="1400" />
   <meta
      property="og:image:alt"
      content="The Winning Slowly logo: a crescendo sign and the words 'Winning Slowly'."
   />
   <meta name="twitter:image" content="{{SITEURL}}/{{LOGO}}" />
{%endset %}

{%if article is defined%}
   <meta property="og:url" content="{{SITEURL}}/{{article.url}}" />
   <meta name="article:author" content="{{IDENTITY['Chris']['Homepage']}}" />
   <meta name="article:author" content="{{IDENTITY['Stephen']['Homepage']}}" />

   {%set season = SEASONS[article.category.name]%}
   {%set season_title = season.prefix ~ ': ' ~ season.title if season.prefix else season.title%}
   <meta property="article:section" content="{{season_title}}" />

   {%set sep = season.epSep%}
   {%set number = season.number ~ sep ~ article.number if season.number else article.number%}

   {%set category = '' if season.number else season.epPrefix%}
   {%set title = category ~ ' ' ~ number ~ ': ' ~ article.title|striptags ~ ' &#9702; ' ~ SITENAME%}
   <meta property="og:title" content="{{title}}" />
   <meta name="twitter:title" content="{{title}}" />

   {%set description = article.subtitle|striptags%}
   <meta property="og:description" content="{{description}}" />
   <meta name="twitter:description" content="{{description}}" />

   <meta property="og:type" content="article" />

   {%set time_format = '%Y-%m-%dT%H:%M%S%z'%}
   <meta property="article:published_time" content="{{article.date.strftime(time_format)}}" />

   {%if article.modified is defined%}
      <meta property="article:modified_time" content="{{article.modified.strftime(time_format)}}" />
   {%else%}
      <meta property="article:modified_time" content="{{article.date.strftime(time_format)}}" />
   {%endif%}

   {%for tag in article.tags%}
      <meta property="article:tag" content={{tag}} />
   {%endfor%}

   {%if article.image is defined%}
      <meta property="og:image" content="{{article.image}}" />
      <meta name="twitter:image" content="{{article.image}}" />
   {%else%}
      {{logo}}
   {%endif%}

   {%if article.mp3 is defined%}
      <meta property="og:audio" content="{{SITEURL}}/{{article.mp3}}"/>
      <meta property="og:audio:type" content="audio/mp3" />
   {%endif%}
{%else%}
   {%if page is defined%}
      <meta property="og:url" content="{{SITEURL}}/{{page.url}}" />
      <meta property="og:type" content="article" />

      {%set title = page.title ~ ' &#9702; ' ~ SITENAME%}
      <meta property="og:title" content="{{title}}" />
      <meta name="twitter:title" content="{{title}}" />

      {%set description = page.slug%}
      <meta property="og:description" content="{{description}}" />
      <meta name="twitter:description" content="{{description}}" />
   {%else%}
      <meta property="og:url" content="{{SITEURL}}" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{SITENAME}}" />
      <meta name="twitter:title" content="{{SITENAME}}" />
      <meta property="og:description" content="{{SITE_DESCRIPTION}}" />
      <meta name="twitter:description" content="{{SITE_DESCRIPTION}}" />
   {%endif%}

   {{logo}}
{%endif%}
