{% extends "base.html" %}

{%block content%}

   {% block heading %}{% endblock %}
   {%if articles%}
      <ul class='EpisodeList'>
         {% for article in articles %}
            <li class="EpisodeList-episode">
               <a class="EpisodeList-link" href="/{{article.url}}">
                  <div class='EpisodeMeta'>
                     <span class="EpisodeMeta-field EpisodeMeta-field--number">
                        Episode {{article.category}}.{{article.number}}
                     </span>
                     <span class="EpisodeMeta-field EpisodeMeta-field--title">
                        {{article.title}}
                     </span>
                     <span class="EpisodeMeta-field EpisodeMeta-field--date">
                        {{article.locale_date}}
                     </span>
                     <span class="EpisodeMeta-field EpisodeMeta-field--subtitle">
                        {{article.subtitle}}
                     </span>
                  </div>
               </a>
            </li>
         {% endfor %}
      </ul>
   {% else %}
      {% include "includes/404-content.html" %}
   {%endif%}

   {% include "includes/about.html" %}

{%endblock %}
