{%extends "base.html"%}

{%block content%}

   {%block heading%}{%endblock%}
   {%if articles%}
      <ul class='EpisodeList'>
         {%for article in articles%}
            <li class="EpisodeList-episode">
               <a class="EpisodeList-link" href="/{{article.url}}">
                  <div class='EpisodeSummary'>
                     <span class="EpisodeSummary-field EpisodeSummary-field--number">
                        Episode {{article.category}}.{{article.number}}
                     </span>
                     <span class="EpisodeSummary-field EpisodeSummary-field--title">
                        {{article.title}}
                     </span>
                     <span class="EpisodeSummary-field EpisodeSummary-field--date">
                        {{article.locale_date}}
                     </span>
                     <span class="EpisodeSummary-field EpisodeSummary-field--subtitle">
                        {{article.subtitle}}
                     </span>
                  </div>
               </a>
            </li>
         {%endfor%}
      </ul>
   {%else%}
      {%include "includes/404-content.html"%}
   {%endif%}

{%endblock%}

{%block after_content%}
   <hr>
   {% include "includes/about.html"%}
{%endblock%}
