{% extends "base.html" %}

{% set audio_slug = article.audio_slug if article.audio_slug else article.category|lower ~ '.' ~ article.number %}

{% block title %}
   {% if article.category != 'Bonus' %}{{ article.category }}.{% endif %}{{ article.number }}:
   {{ article.title}} &#9702; {{ SITENAME }}
{% endblock %}
{% block description %}{{ article.description|striptags }}{% endblock %}
{% block content %}
   <article class="Content">
      {% include "includes/item-header.html" %}

      <audio title="{{ article.title }}" controls="controls" preload="metadata">
         <source src="{{ PODTRAC_MP3 }}/{{ CDN }}/{{ audio_slug }}{{ MP3 }}" />
      </audio>

      <section id="notes">
         {{ article.content }}
      </section>
   </article>
{% endblock content %}
