{%extends "base.html"%}

{%set audio_slug = article.audio_slug if article.audio_slug else article.category|lower ~ '.' ~ article.number%}
{%set mp3 = PODTRAC_MP3 ~ '/' ~ CDN ~ '/' ~ audio_slug ~ MP3 %}

{%block title%}
   {%set season = SEASONS[article.category.name]%}
   {%set sep = season.epSep%}
   {%set number = season.number ~ sep ~ article.number if season.number else article.number%}

   {%set category = '' if season.number else season.epPrefix%}
   {%set title = category ~ ' ' ~ number ~ ': ' ~ article.title|striptags%}

   {{title}} &#9702; {{SITENAME}}
{%endblock%}
{%block description%}{{article.description|striptags}}{%endblock%}
{%block content%}
   <article class="Content">
      {%include "includes/item-header.html"%}

      <section class="Audio">
         <audio class="Audio-player" title="{{article.title}}" controls="controls" preload="metadata">
            <source src={{mp3}} />
         </audio>

         <p class="Audio-download">
            (<a href={{mp3}} download={{mp3}}>download directly</a>)
         </p>
      </section>

      {{article.content}}
   </article>
{%endblock content%}
