{% extends "archives.html" %}
{% set prefix = SEASONS[category].prefix if SEASONS[category].prefix + ': ' else '' %}
{% set title = SEASONS[category].title if SEASONS[category].title else '' %}
{% set metatitle = prefix + title %}

{% block title %}{{metatitle}} &#9702; {{ SITENAME }}{% endblock %}

{% block heading %}
   <h2 class="SeasonHeading">{{prefix}}{{title}}</h2>
{% endblock %}

{% block section_nav %}
   <nav class='SeasonNav'>
      {% set curr = category.name|int %}
      {% if SEASONS[category].number %}
         {% for cat, _articles in categories %}
            {% if SEASONS[cat].number %}
               {% set int_cat = cat.name|int %}
               {% if int_cat == (curr + 1) %}
                  <a class="SeasonNav-season SeasonNav-season--next" href="/{{ cat.url }}">
                     {{SEASONS[cat].prefix}} <i class="fa fa-fw fa-long-arrow-right"></i>
                  </a>
               {% elif int_cat == (curr - 1) %}
                  <a class="SeasonNav-season SeasonNav-season--prev" href="/{{ cat.url }}">
                     <i class="fa fa-fw fa-long-arrow-left"></i> {{SEASONS[cat].prefix}}
                  </a>
               {% endif %}
            {% endif %}
         {% endfor %}
      {% else %}
         <a class='SeasonNav-season' href='/'>Home</a>
      {% endif %}
   </nav>
{% endblock %}
