<article>
   <header>
      <div class="title">
         <h1>Hang on!</h1>
         <h2>Something isn't right here.</h2>
      </div>
   </header>
   <section id="notes">
      <h3>But don't panic.</h3>
      <p>It probably just means that Chris made a silly configuration move on the back end (in which case you should <a href="mailto:admin@winningslowly.org">email him</a>), or that you accidentally typed a bad link.</p>

      <p>In the meantime, maybe you just want to go to the <a href="{{ SITEURL }}">home page</a>?</p>
   </section>
</article>
