@media only screen and (max-width: 800px) {
  html {
    font-size: 92.5%;
  }

  br.optional {
    display: inherit;
  }

  .SeasonNav {
    font-size: var(--fs-ms);
  }

  .Banner {
    padding-bottom: 0;
    h1 {
      a,
      a:visited {
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-flow: column wrap;
        flex: 1 50%;
      }
    }
  }

  .archive article header {
    .title,
    .meta {
      flex: 1 95%;
      text-align: center;
      padding: {
        right: 0;
        left: 0;
      }
    }

    .title {
      order: 1;
    }

    .meta {
      order: 2;
    }
  }
}

@media only screen and (max-width: 580px), only screen and (max-height: 640px) {
  html {
    font-size: 85%;
  }

  .flex-item {
    flex: 1 100%;
  }

  .SeasonNav {
    font-size: var(--fs-r);

    .prev {
      padding-left: 6%;
    }

    .next {
      padding-right: 6%;
    }
  }

  .Banner {
    font-size: var(--fs-xxl);
    padding: {
      top: var(--fs-m);
      bottom: 0;
    }

    h1 {
      #logo img {
        height: var(--fs-xxl);
        width: var(--fs-xxl);
        margin-top: var(--fs-r);
      }

      font-size: var(--fs-l);
    }

    h2 {
      font-size: var(--fs-r);
    }
  }

  #winning,
  #slowly {
    text-align: center;
  }

  #slowly {
    font-size: var(--fs-ml);
  }

  article {
    width: 95%;
    margin: auto;
    padding-bottom: var(--fs-r);
    line-height: var(--lh-m);

    section,
    audio {
      width: 100%;
    }

    header {
      .title {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        order: 2;

        h1 {
          font-size: var(--fs-m);

          #episode-title {
            font-size: var(--fs-ms);
          }
        }

        #episode-subtitle {
          font-size: var(--fs-r);
          line-height: var(--lh-s);
        }
      }
    }

    .meta {
      text-align: center;
      padding-right: 1em;
      padding-left: 1em;
      height: auto;
      margin-bottom: 0.364em;
      padding-bottom: 0;
      order: 1;
    }

    h3 {
      font-size: var(--fs-m);
    }
  }
}
