@import "reset";
@import "fonts";

:root {
  // Typefaces
  --text: Tiempos Text, Times, Times New Roman, serif;
  --title: Tiempos Headline, Georgia, serif;

  // weights
  --text-regular: 400;
  --text-bold: 600;

  --title-bold: 600;
  --title-light: 300;

  // Sizes
  /* Modular scale: http://modularscale.com/scale/?px1=18&px2=540&ra1=1.5&ra2=0 */
  --fs-xxxl: 3.951rem;
  --fs-xxl: 3.375rem;
  --fs-xl: 2.634rem;
  --fs-l: 2.25rem;
  --fs-ml: 1.756rem;
  --fs-m: 1.5rem;
  --fs-ms: 1.171rem;
  --fs-r: 1rem;
  --fs-s: 0.78rem;

  // Line heights
  --lh: 1.5;
  --lh-m: 1.35;
  --lh-s: 1.171;

  // Colors
  --bg: #fcfcfc;
  --fg: hsl(210, 2%, 27%);
  --fg-alt: hsl(210, 10%, 50%);
  --accent-dark: hsl(210, 82%, 31%);
  --accent: hsl(210, 67%, 41%);
  --accent-light: hsl(210, 52%, 61%);
}

html {
  font-size: 100%;
}

/* Styles */
body {
  --wrapper-size: 0.5rem;

  font-size: var(--lh-r);
  color: var(--fg);
  font-family: var(--text);
  line-height: var(--lh);
  background: var(--bg);
  margin: var(--wrapper-size);
  box-shadow: 0 0 var(--wrapper-size) -0.1rem var(--fg), 0 0 0 var(--wrapper-size) var(--accent);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 2 * var(--wrapper-size));
}

.Main {
  flex: 1;
}

b,
strong {
  font-weight: var(--text-bold);
}

@mixin content-head {
  display: block;

  font: {
    size: var(--fs-l);
    family: var(--title);
    weight: var(--title-light);
  }

  padding: {
    left: var(--fs-r);
    right: var(--fs-r);
  }
  text-align: center;
  line-height: 1;

  &-title {
    font-weight: var(--title-bold);
  }
}

.TagHeading {
  @include content-head;
}

blockquote {
  font: {
    size: var(--fs-r);
    style: italic;
  }
  margin: 0.5em 0;
  padding: 0 1em;
  border-left: 2px solid var(--accent-light);
  color: var(--fg-alt);

  em {
    font-style: normal;
  }
}

blockquote p:last-child {
  padding-bottom: 0;
}

li blockquote {
  margin-bottom: 1.5rem;
}

ul {
  list-style: circle;
  ul {
    list-style: disc;
    ul {
      list-style: square;
      ul {
        list-style: circle;
        ul {
          list-style: disc;
        }
      }
    }
  }
}

ol {
  list-style: decimal;
  ol {
    list-style: upper-alpha;
    ol {
      list-style: upper-roman;
      ol {
        list-style: lower-alpha;
        ol {
          list-style-type: lower-roman;
        }
      }
    }
  }
}

a,
a:visited {
  color: var(--accent);
  transition: all 0.2s;

  &:hover,
  &:active {
    color: var(--accent-light);
  }
}

cite {
  font-style: italic;
}

img {
  max-width: 100%;
  max-height: 100%;
}

figure {
  margin-bottom: var(--fs-r);
  text-align: center;
  padding: 0.52em;
  font-weight: 300;
  font-size: var(--fs-s);
  line-height: var(--lh-s);
  font-style: italic;
}

.sponsors-list {
  text-align: center;
  font-size: var(--fs-rm);
  margin: 0;
  padding: 0;
  list-style: none;

  &__sponsor {
    margin: 0;
    padding: 0 0 1em;

    &::after,
    &::before {
      content: "✨";
      display: inline-block;
      width: 2em;
    }
  }
}

br.optional {
  display: none;
}

hr {
  width: 90%;
  max-width: 66rem;
  border-top: 1px solid var(--fg-alt);
  margin: {
    top: var(--fs-l);
    bottom: var(--fs-l);
  }
}

/* Header */
.Banner {
  padding-top: var(--fs-l);
  padding-bottom: var(--fs-m);

  a {
    color: var(--fg);

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }

    &:hover {
      color: var(--accent-light);
    }
  }

  &-title {
    text-align: center;
    font: {
      family: var(--title);
      weight: var(--title-bold);
      size: var(--fs-xxl);
    }

    margin: 0;
  }

  &-subtitle {
    text-align: center;
    color: var(--accent);
    font: {
      family: var(--text);
      size: var(--fs-m);
      style: italic;
    }
  }
}

.Content {
  max-width: 34em;
  margin: {
    left: auto;
    right: auto;
    bottom: 2em;
  }

  padding: {
    left: 1em;
    right: 1em;
  }

  &--meta {
    padding-top: 1em;
  }

  h1 {
    font: {
      family: var(--title);
      weight: var(--title-light);
    }
    margin-bottom: 1rem;
  }

  h2 {
    font: {
      family: var(--title);
      weight: var(--title-light);
      size: var(--fs-l);
    }
    color: var(--fg-alt);
    text-align: center;
  }

  h3 {
    text-align: center;
    margin: {
      bottom: 1rem;
      left: auto;
      right: auto;
    }
    font: {
      family: var(--title);
      weight: var(--title-bold);
      size: var(--fs-ml);
    }
  }

  h4 {
    text-align: center;
    font: {
      family: var(--title);
      weight: var(--title-light);
      size: var(--fs-m);
    }
    padding-bottom: var(--fs-r);
    margin-top: var(--fs-r);
  }

  h5 {
    font: {
      size: var(--fs-ms);
      family: var(--title);
      weight: var(--title-bold);
    }
    color: var(--fg-alt);
  }

  h6 {
    font-size: var(--fs-r);
  }

  p,
  ul,
  ol {
    padding: {
      top: 0;
      bottom: 0;
    }
    margin: {
      top: 0;
      bottom: var(--fs-r);
    }
  }

  .ItemInfo {
    line-height: var(--lh-s);
    &-meta {
      margin: 1rem 0 0;
      padding: 0;
    }
  }

  // Nested because we unfortunately *do* need specificity to be able to handle both
  // default headings etc. above *and* specific overrides for titles etc.
  .ItemTitle {
    text-align: center;
    font: {
      family: var(--title);
      size: var(--fs-l);
    }
    line-height: var(--lh-s);

    &-component {
      display: block;

      &--num {
        font-weight: var(--title-light);
      }

      &--title {
        font-weight: var(--title-bold);
      }
    }
  }

  .ItemSubtitle {
    text-align: center;
    font: {
      family: var(--text);
      size: var(--fs-ms);
      style: italic;
    }
    line-height: var(--lh-s);
  }

  .ItemMeta {
    font: {
      family: var(--text);
      size: var(--fs-m);
    }
    color: var(--fg-alt);
    text-align: center;

    &-entry {
      margin-bottom: 0;
    }
  }

  a.social-inline-link {
    display: inline-block;

    i {
      display: inline-block;
      padding-right: 2px;
    }
  }

  &--subscribe {
    text-align: center;
  }
}

.Audio {
  width: 100%;
  margin: {
    top: var(--fs-xl);
    bottom: var(--fs-l);
    left: auto;
    right: auto;
  }

  &-player {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5em;
  }

  &-download {
    text-align: center;
    font-size: var(--fs-ms);
  }
}

.SeasonHeading {
  @include content-head;

  &-prefix,
  &-title {
    display: block;
  }
}

.CurrentSeasonInfo {
  &-link {
    text-decoration: none;
  }
}

.EpisodeList {
  font-size: var(--fs-ms);
  max-width: 52rem;
  list-style: none;
  margin: {
    left: auto;
    right: auto;
  }

  padding: {
    left: 0;
    right: 0;
  }

  &-episode {
    min-height: 4em;
    padding: {
      top: 0.5em;
      bottom: 0.5em;
    }
  }

  a,
  a:link,
  a:visited {
    color: var(--fg);

    &:hover,
    &:active {
      color: var(--accent-dark);
    }
  }

  &-link {
    color: var(--fg);
    text-decoration: none;
    display: block;

    // Border and padding operate together with the animation so that
    // the size of the contained element remains constant: as the border
    // grows on hover, the padding shrinks. This prevents reflow of the
    // contents of the link.
    border: {
      top: none;
      left: 1px solid transparent;
      bottom: none;
      right: 1px solid transparent;
    }

    --hover-width: 8px;

    padding: {
      left: var(--hover-width);
      right: var(--hover-width);
    }

    &:hover,
    &:active {
      border: {
        top: none;
        left: var(--hover-width) solid var(--accent-light);
        bottom: none;
        right: var(--hover-width) solid var(--accent-light);
      }

      padding: {
        left: 1px;
        right: 1px;
      }
    }
  }
}

.EpisodeSummary {
  display: grid;
  grid-template-areas:
    "number date"
    "title  subtitle";
  grid-template-columns: 45% 55%;
  grid-column-gap: 0.486rem;
  grid-row-gap: calc(0.243rem - 0.1 * 1em); // account for line-height of `&-field`.
  justify-content: center;
  padding: 1em 0.5em;

  &-field {
    line-height: 1.1;
    display: block;
    margin: {
      top: 0;
      bottom: 0;
    }
    padding: {
      top: 0;
      bottom: 0;
    }

    &--number {
      grid-area: number;
      text-align: right;
      font-weight: var(--title-bold);
    }

    &--date {
      grid-area: date;
      font-style: italic;
      text-align: left;
    }

    &--title {
      grid-area: title;
      text-align: right;
      font-weight: var(--title-bold);
    }

    &--subtitle {
      grid-area: subtitle;
      text-align: left;
    }
  }
}

.SeasonDescription {
  h4,
  &-title {
    a {
      text-decoration: none;
    }
  }
}

.SeasonNav {
  font: {
    family: var(--title);
    weight: var(--title-light);
    size: var(--fs-m);
  }
  background: var(--accent-dark);
  margin-top: var(--fs-xxxl);
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-flow: row wrap;

  &-season {
    text-decoration: none;
    flex: 1 0 auto;
    border: none;
    color: var(--bg);
    text-align: center;
    padding: 0.4em;

    &:hover,
    &:active {
      background: var(--accent-light);
      color: var(--bg);
    }

    &:visited,
    &:visited:hover {
      color: var(--bg);
    }

    &--prev {
      text-align: left;
      padding-left: 12%;
    }

    &--next {
      text-align: right;
      padding-right: 12%;
    }
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 92.5%;
  }

  .SeasonNav {
    font-size: var(--fs-ms);
  }

  .Banner {
    padding-bottom: 0;
    h1 {
      a,
      a:visited {
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-flow: column wrap;
        flex: 1 50%;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  html {
    font-size: 85%;
  }

  .flex-item {
    flex: 1 100%;
  }

  br.optional {
    display: inherit;
  }

  .Content {
    &--meta {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  hr {
    margin: {
      top: var(--fs-m);
      bottom: var(--fs-m);
    }
  }

  .SeasonHeading {
    font-size: var(--fs-ml);
  }

  .SeasonNav {
    font-size: var(--fs-r);

    .prev {
      padding-left: 6%;
    }

    .next {
      padding-right: 6%;
    }
  }

  .Banner {
    font-size: var(--fs-xxl);
    padding: {
      top: var(--fs-m);
      bottom: 0;
    }

    &-title {
      font-size: var(--fs-l);
    }

    &-subtitle {
      font-size: var(--fs-r);
    }
  }

  .EpisodeList {
    margin: {
      left: auto;
      right: auto;
    }
    padding: 0;
    line-height: var(--lh-m);
  }

  .EpisodeSummary {
    grid-template-areas:
      "number"
      "title"
      "date"
      "subtitle";
    grid-template-columns: auto;

    &-field {
      &--number {
        text-align: center;
      }

      &--title {
        text-align: center;
      }

      &--date {
        text-align: center;
      }

      &--subtitle {
        text-align: center;
      }
    }
  }

  .Content {
    .ItemTitle {
      font-size: var(--fs-ml);
    }

    .ItemSubtitle {
      font-size: var(--fs-r);
    }

    .ItemMeta {
      font-size: var(--fs-ms);
    }
  }
}
