html {
   font-size: 87.5%;
   line-height: 1.4;
}

body {
   font-family: "Museo Sans", "Century Gothic", sans-serif;
}

#wrapper {
   width: 40em;
   padding: 0 1em;
   margin: 1em auto;
   border: 1px solid #efefef;
}

article h1, article h2 {
   font-family: "Museo Slab", Georgia, serif;
   font-size: 1rem;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
}

article h2 {
   font-weight: 300;
}

article .meta {
   font-family: "Museo Sans", Georgia, serif;
   font-weight: 300;
   font-style: italic;
}

#winning, #slowly {
   text-transform: uppercase;
   display: inline-block;
   width: 48%;
}

.title, .meta {
   width: 47%;
   margin: 0 1%;
   padding: 0 0 2em;
   display: inline-block;
   vertical-align: middle;
}

.title {
   text-align: right;
}

#winning {
   font-weight: 500;
   font-family: "Museo Slab", Georgia, serif;
   letter-spacing: 2px;
   text-align: right;
}

#slowly {
   font-size: 1.75em;
   font-family: "Felt Tip Senior", cursive;
}
