<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta name="description" content="" />

   {# Style settings #}
   <meta name="viewport" content="width=device-width, user-scalable=no" />

   <link href="static/style.css" type="text/css" rel="stylesheet" />
   <link href="static/type.css" type="text/css" rel="stylesheet" />

   {# Google+ authorship #}
   <link rel="author" href="http://plus.google.com/+chriskrycho" />

   {# Facebook #}
   <meta property="og:title" content="Winning Slowly" />
   <meta property="og:description" content="" />
   <meta property="og:url" content="http://winningslowly.org" />
   <meta property="og:type" content="object" />
   <meta property="og:image" content="" />

   {# Twitter #}
   <meta name="twitter:card" content="summary" /> {# set to player for podcasts #}
   <meta name="twitter:url" content="http://winningslowly.org" />
   <meta name="twitter:title" content="Winning Slowly" />
   <meta name="twitter:description" content="" />
   <meta name="twitter:image" content="" />

</head>
<body>

</body>
</html>
