@import 'mixins';

@media only screen and (max-width: 800px) {
   header#banner {
      h1 {
         @include flexbox();
         @include justify-content(center);
         @include align-items(flex-start);
         @include flex-flow(row wrap);
      }
   }

   footer {
      .footer_item {
         width: 90%;
      }
   }
}

@media only screen and (max-width: 580px) {
   html {
      font-size: 100%;
   }

   .flex-item {
      @include flex(1 100%);
   }

   #winning, #slowly {
      text-align: center;
   }

   article {
      width: 95%;
      margin: auto;
      section, audio {
         width: 100%;
      }
      .title {
         text-align: center;
         padding-left: 1em;
         padding-right: 1em;
         @include order(2);
      }

      .meta {
         text-align: center;
         padding-right: 1em;
         padding-left: 1em;
         height: auto;
         margin-bottom: 0.364em;
         padding-bottom: 0;
         @include order(1);
      }
   }

   footer {
      .footer_item {
         width: 98%;
      }
   }
}
