@import 'mixins';
@import 'variables';

@media only screen and (max-width: 800px) {

   header#banner {
      padding-bottom: 0;
      h1 {
         a, a:visited {
            @include flexbox();
            @include justify-content(space-around);
            @include align-content(center);
            @include flex-flow(column wrap);
            @include flex(1 50%);
            height: 3em;
         }
         #logo {
            @include flex(2 100%);

            img {
               margin-top: 28px;
               margin-right: 12px;
            }
         }

         #winning, #slowly {
            margin: {
               left: 0;
               right: 0;
            }
         }
      }
   }

   footer {
      .footer_item {
         width: 90%;
      }
   }

   .archive article header {
      .title, .meta {
         @include flex(1 95%);
         text-align: center;
         padding: {
            right: 0;
            left: 0;
         }
      }

      .title {
         @include order(1);
      }

      .meta {
         @include order(2);
      }
   }
}

@media only screen and (max-width: 580px), only screen and (max-height: 640px) {
   html {
      font-size: 100%;
   }

   h1 {
      font-size: $fsh2;
   }

   h2 {
      font-size: $fsh3;
   }

   h3 {
      font-size: $fsh4;
   }

   h4 {
      font-size: $fsh5;
   }

   h5 {
      font-size: $fsh6;
   }

   h6 {
      font-size: $fsp;
   }

   header#banner h1 #logo img {
      height: $fsh2;
      width: $fsh2;
      margin-top: 0;
   }
}

@media only screen and (max-width: 800px) and (min-width: 580px) and (max-height: 640px) {
   header#banner h1 #logo img {
      height: $fsh1;
      width: $fsh1;
      margin-top: $fsp;
   }
}

@media only screen and (max-width: 580px) {
   .flex-item {
      @include flex(1 100%);
   }

   header#banner {
      font-size: $fsh1;
      padding: {
         top: $fsh5;
         bottom: 0;
      }

      h1 #logo img {
         height: $fsh1;
         width: $fsh1;
         margin-top: $fsp;
      }
   }

   #winning, #slowly {
      text-align: center;
   }

   article {
      width: 95%;
      margin: auto;
      padding-bottom: $fsp;

      section, audio {
         width: 100%;
      }

      header {
         .title {
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            @include order(2);

            h1 #episode-title {
               font-size: $fsh3;
            }
         }
      }
      .meta {
         text-align: center;
         padding-right: 1em;
         padding-left: 1em;
         height: auto;
         margin-bottom: 0.364em;
         padding-bottom: 0;
         @include order(1);
      }
   }

   footer {
      .footer_item {
         width: 95%;
      }

      #social-wrapper ul {
         padding-left: 0;
         text-align: center;
      }
   }
}
