/* _typography.scss */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=1861bc04-177c-4dd1-bdf1-3e1a747fd5e8");

/* Museo Sans */
@font-face {
   font-family: "Museo Sans";
   src: url("Fonts/90e6d1d9-33c0-4c63-9491-85041f7d5fd3.eot?#iefix");
   src: url("Fonts/90e6d1d9-33c0-4c63-9491-85041f7d5fd3.eot?#iefix") format("eot"), url("Fonts/96766c08-0e19-43a8-b45d-e95c5b09785c.woff") format("woff"), url("Fonts/304f4215-6b57-433a-83f7-2d4c3aaf82e9.ttf") format("truetype"), url("Fonts/2acdd065-8f32-4b1d-a7c8-c59fa153ce86.svg#2acdd065-8f32-4b1d-a7c8-c59fa153ce86") format("svg");
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: "Museo Sans";
   src: url("Fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix");
   src: url("Fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix") format("eot"), url("Fonts/b252d464-65cb-4950-88f7-ac0a1bf79b75.woff") format("woff"), url("Fonts/b3d18117-6517-4d3f-afc1-774086ff5fc1.ttf") format("truetype"), url("Fonts/b9bed509-0816-43d8-b14b-7525a21f4bde.svg#b9bed509-0816-43d8-b14b-7525a21f4bde") format("svg");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Museo Sans";
   src: url("Fonts/8507714a-41e5-4f02-9f2d-70e6dc6b30f7.eot?#iefix");
   src: url("Fonts/8507714a-41e5-4f02-9f2d-70e6dc6b30f7.eot?#iefix") format("eot"), url("Fonts/9c98d320-d511-4d3d-9ba3-6516302dba95.woff") format("woff"), url("Fonts/b4b164e1-3b4c-42c1-8db5-ca02bfad125c.ttf") format("truetype"), url("Fonts/8673e9b2-7e5d-4749-8588-b7de69b662c2.svg#8673e9b2-7e5d-4749-8588-b7de69b662c2") format("svg");
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: "Museo Sans";
   src: url("Fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix");
   src: url("Fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix") format("eot"), url("Fonts/eadbb595-a394-48fc-834f-8bf5da15cddf.woff") format("woff"), url("Fonts/9bcba093-b507-4b9b-9c83-303003d3815c.ttf") format("truetype"), url("Fonts/9a2af429-2624-4bd1-a676-8f0eed3e7e31.svg#9a2af429-2624-4bd1-a676-8f0eed3e7e31") format("svg");
   font-weight: 700;
   font-style: normal;
}

/* Museo Slab */
@font-face {
   font-family: "Museo Slab";
   src: url("Fonts/eb8d21f3-937f-42fb-b145-5cce280410e1.eot?#iefix");
   src: url("Fonts/eb8d21f3-937f-42fb-b145-5cce280410e1.eot?#iefix") format("eot"), url("Fonts/1e7801b5-5d28-4953-ae9b-1f3d990698bf.woff") format("woff"), url("Fonts/a7690725-eecd-43b6-a63d-9f6716794184.ttf") format("truetype"), url("Fonts/7a0ae03a-0d39-4286-a913-0a5904b80cf4.svg#7a0ae03a-0d39-4286-a913-0a5904b80cf4") format("svg");
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: "Museo Slab";
   src: url("Fonts/39a8c847-6d65-44ec-92e6-46e2aa8db834.eot?#iefix");
   src: url("Fonts/39a8c847-6d65-44ec-92e6-46e2aa8db834.eot?#iefix") format("eot"), url("Fonts/4548ac88-af2c-4b63-ac2b-94e9ef6cd1b9.woff") format("woff"), url("Fonts/380327b2-8e54-40b1-a569-eb17e46f7e17.ttf") format("truetype"), url("Fonts/dedfb9ca-341f-404d-b76e-d781f9ee375f.svg#dedfb9ca-341f-404d-b76e-d781f9ee375f") format("svg");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Museo Slab";
   src: url("Fonts/2656a5f2-9367-4d1d-af19-8cd9f9028d08.eot?#iefix");
   src: url("Fonts/2656a5f2-9367-4d1d-af19-8cd9f9028d08.eot?#iefix") format("eot"), url("Fonts/3cf54835-9705-474e-9afa-46f2d59589e7.woff") format("woff"), url("Fonts/1bc72f40-8f25-47dd-874e-a829e7e992f6.ttf") format("truetype"), url("Fonts/5329032e-48ad-4e1a-9b4c-6b847641304c.svg#5329032e-48ad-4e1a-9b4c-6b847641304c") format("svg");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Museo Slab";
   src: url("Fonts/59736019-b384-44ba-b36e-3b03dcdc8e6c.eot?#iefix");
   src: url("Fonts/59736019-b384-44ba-b36e-3b03dcdc8e6c.eot?#iefix") format("eot"), url("Fonts/2ac411c9-defd-4f5a-90b0-7179cafd27f4.woff") format("woff"), url("Fonts/0c52b397-59d0-4df4-aa7c-06ac915a9f66.ttf") format("truetype"), url("Fonts/dcaa3c19-252a-407d-945c-4b770dd32417.svg#dcaa3c19-252a-407d-945c-4b770dd32417") format("svg");
   font-weight: 700;
   font-style: normal;
}

/* Felt Tip Senior */
@font-face {
   font-family: "Felt Tip Senior";
   src: url("Fonts/42fdbfec-6af8-4b26-b5eb-9e835149df90.eot?#iefix");
   src: url("Fonts/42fdbfec-6af8-4b26-b5eb-9e835149df90.eot?#iefix") format("eot"), url("Fonts/70397ac5-99e8-4821-b912-ce83baeacff8.woff") format("woff"), url("Fonts/6aa8f847-c6c4-4b8a-9c25-3af12372e78d.ttf") format("truetype"), url("Fonts/dc032f2d-f18f-486a-96d0-47f72e448620.svg#dc032f2d-f18f-486a-96d0-47f72e448620") format("svg");
   font-weight: 400;
   font-style: normal;
}
