/* Typefaces */
$sans: "Museo Sans", "Century Gothic", sans-serif;
$slab: "Museo Slab", Rockwell, Cambria, serif;
$felt: "Felt Tip Senior", cursive;

/* Font sizes */

/* Colors */
$dark-orange: #D45627;
$light-orange: #ED9747;
