/* Typefaces */
$sans: "Museo Sans", "Century Gothic", sans-serif;
$slab: "Museo Slab", Rockwell, Cambria, serif;
$felt: "Felt Tip Senior", cursive;


/* Modular scale: http://modularscale.com/scale/?px1=18&px2=540&ra1=1.5&ra2=0 */
// Font sizes
$fsh1: 3.375em;
$fsh2: 2.634em;
$fsh3: 2.25em;
$fsh4: 1.756em;
$fsh5: 1.5em;
$fsh6: 1.171em;
$fsp: 1em;
$fs_small: 0.78em;

// Line heights
$lh: 1.5;
$lh_rem: 1.5rem;
$lh_em: 1.5em;
$lh_small: 1.171;
$lh_small_rem: 1.171rem;
$lh_small_em: 1.171em;

// Account for different scales of Felt Tip Senior from Museo
$felt_multiplier: 1.92;
$felt_multiplier_em: 1.92em;


/* Colors */
$dark_orange: #D45627;
$light_orange: #ED9747;
$light_blue: #5395C3;
$dark_blue: #205D88;
$dark_purple: #2D3094;
$light_purple: #6063C9;
$pale_purple: #7C7EC9;
$background: #FFFFF6;
$background_darkened: #8C8C83;
$text: #444;
$text_light: #656565;
