/* style.scss */

@import 'reset';
@import 'typography';
@import 'mixins';

/* variables */
$sans: "Museo Sans", "Century Gothic", sans-serif;
$slab: "Museo Slab", Rockwell, Cambria, serif;
$felt: "Felt Tip Senior", cursive;

/* Modular scale: http://modularscale.com/scale/?px1=14&px2=196&ra1=1.5&ra2=0 */
html {
   font-size: 87.5%;
   line-height: 1.4;
   color: #444;
   font-family: $sans;
}

body {
}

h1 {
   font-size: 2.25rem;
}

h2 {
   font-size: 1.844rem;
}

h3 {
   font-size: 1.5rem;
}

h4 {
   font-size: 1.229rem;
}

h5 {
   font-size: 1rem;
}

/* Layout */
#wrapper {
   max-width: 44rem;
   padding: 0 1rem;
   margin: auto;
}

.flex-container {
   @include flexbox();
   @include justify-content(space-around);
   @include align-items(flex-start);
   @include flex-flow(row wrap);
}

.flex-item {
   @include flex(1 18rem);
}

#banner h1 {
   @extend .flex-container;
}

/* Header */
header#banner {
   padding-top: 5.063rem;
   padding-bottom: 3.375rem;
}

#winning, #slowly {
   text-transform: uppercase;
   line-height: 1;
   margin: 0;

   @extend .flex-item;
}

#winning {
   font-weight: 300;
   font-family: $slab;
   letter-spacing: 3px;
   text-align: right;
   padding-top: 0.85rem;
}

#slowly {
   font-size: 4.148rem;
   font-family: $felt;
}

/* Podcast items */
article {
   header {
      @extend .flex-container;
   }

   h1, h2 {
      font-family: $slab;
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 0.444em;
      padding-top: 0;
      padding-bottom: 0;
   }

   h2 {
      font-weight: 300;
   }

   .meta, .title {
      height: 4em;
      margin: 0;
      padding-top: 0;
      padding-bottom: 2em;

      @extend .flex-item;
   }

   .meta {
      font-family: $sans;
      font-weight: 300;
      font-style: italic;
      padding-left: 0.243rem;
   }

   .title {
      text-align: right;
      padding-right: 0.243rem;
   }

   .title a {
      text-decoration: none;
      color: #444;
   }
}

/* Import media queries at the end to override the base */
@import 'media';
