@import 'reset';
@import 'typography';
@import 'mixins';
@import 'variables';

/* Styles */
html {
   font-size: 112.5%;
   color: $text;
   font-family: $sans;
}

body {
   background: $background;
   line-height: $lh;
}

h1 {
   font-size: $fsh1;
   font-family: $slab;
}

h2 {
   font-size: $fsh2;
   font-family: $slab;
}

h3 {
   font-size: $fsh3;
}

h4 {
   font-size: $fsh4;
}

h5, blockquote, blockquote p {
   font-size: $fsh5;
}

h6 {
   font-size: $fsh6;
}

p, ul, ol {
   font-size: $fsp;
}

p {
   padding: {
      top: 0;
      bottom: $fsp;
   }
}

a, a:visited {
   color: $light_blue;
   transition: all 0.347s;
}

/* Layout */
#wrapper {
   max-width: 44rem;
   padding: 0 1rem;
   margin: auto;
}

/* Header */
header#banner {
   padding-top: $fsh3;
   padding-bottom: $fsh5;
   text-shadow: 1px 1px 1px #DDD;

   h1 {
      text-align: center;

      #logo, #winning, #slowly {
         display: inline-block;
      }

      #logo {
         img {
            height: $fsh6;
            width: $fsh6;
            vertical-align: middle;
            margin-top: -10px;
         }
      }

      #winning, #slowly {
         text-transform: uppercase;
         line-height: 1;
         margin: 0;
      }

      #winning {
         color: $dark_orange;
         font-weight: 300;
         font-family: $slab;
         letter-spacing: 3px;
         margin-right: -0.78rem;
      }

      #slowly {
         color: $light_orange;
         font-size: $felt_multiplier_em;
         font-family: $felt;
         margin-top: -10px;
      }
   }
}

/* Podcast items */
.post article {
   padding-bottom: $lh_em;

   header {
      text-align: center;
      padding-bottom: $lh_em;
      line-height: 1;

      @mixin header-item() {
         margin-bottom: 1rem;
      }

      h1 {
         @include header-item();
         font-weight: 300;
      }

      h2 {
         @include header-item();
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: -2px;
      }

      .meta {
         @include header-item();
         font-family: $sans;
         font-weight: 700;
         color: $background_darkened;
      }
   }

   audio {
      display: block;
      text-align: center;
      width: 66.7%;
      margin: {
         bottom: 2rem;
         left: auto;
         right: auto;
      }
   }

   @mixin list() {
      margin-left: 1rem;
   }

   ul {
      @include list();
   }

   ol {
      @include list();
   }
}

.archive article {
   padding-bottom: 2em;

   @mixin flex-container() {
      @include flexbox();
      @include justify-content(space-around);
      @include align-items(flex-start);
      @include flex-flow(row wrap);
   }

   @mixin flex-item() {
      @include flex(1 18rem);
   }

   header {
      @include flex-container();

      line-height: $lh_small;

      a {
         width: 100%;
         text-decoration: none;
         color: #444;

         @include flex-container();

         &:hover, &:active {
            color: $light_purple;
         }
      }

      h1, h2 {
         font-size: $fsp;
         margin: {
            top: 0;
            bottom: 0;
         }
         padding: {
            top: 0;
            bottom: 0;
         }
      }

      h2 {
         font-weight: 300;
      }

      .meta, .title {
         height: 4em;
         margin: 0;
         padding-top: 0;

         @include flex-item();
      }

      .meta {
         font-family: $sans;
         font-weight: 300;
         font-style: italic;
         padding-left: 0.243rem;
      }

      .title {
         text-align: right;
         padding-right: 0.243rem;
      }

   }
}

footer {
   @include flexbox();
   @include justify-content(space-around);
   @include align-items(flex-start);
   @include flex-flow(row wrap);

   background: $text;
   color: $background;
   font-size: 90%;
   text-align: center;
   padding-top: $fsh5;

   section {
      margin-bottom: $lh_em;
   }

   p {
      text-align: left;
      font-weight: 300;
   }

   a:hover, a:active,
   a:visited:hover, a:visited:active {
      color: $pale_purple;
   }

   .footer_item {
      width: 40%;
      max-width: 360px;
      padding-bottom: $fsh1;

      margin: {
         right: 1%;
         left: 1%;
      };

      h1 {
         font-size: $fsh4;
         font-weight: 300;
         letter-spacing: 1px;
         color: $light_orange;
         text-shadow: 1px 1px 1px $background_darkened;
         border-bottom: 1px solid $background_darkened;
         margin-bottom: 1rem;
      }

      h2 {
         font-size: $fsh6;
         font-style: italic;
         font-weight: 400;
      }

      ul, ol {
         margin-bottom: $lh_em;
      }
   }
}

/* Import media queries at the end to override the base */
@import 'media';
