@import 'reset';
@import 'typography';
@import 'mixins';
@import 'variables';

/* Styles */
html {
   font-size: 112.5%;
   line-height: $lh;
   color: $text;
   font-family: $sans;
}

body {
   background: $background;
}

h1 {
   font-size: $fsh1;
}

h2 {
   font-size: $fsh2;
}

h3 {
   font-size: $fsh3;
}

h4 {
   font-size: $fsh4;
}

h5, blockquote, blockquote p {
   font-size: $fsh5;
}

h6 {
   font-size: $fsh6;
}

p, ul, ol {
   font-size: $fsp;
}

/* Layout */
#wrapper {
   max-width: 44rem;
   padding: 0 1rem;
   margin: auto;
}

.flex-container {
   @include flexbox();
   @include justify-content(space-around);
   @include align-items(flex-start);
   @include flex-flow(row wrap);
}

.flex-item {
   @include flex(1 18rem);
}

/* Header */
header#banner {
   padding-top: $fsh1;
   padding-bottom: $fsh3;
   text-shadow: 1px 1px 1px #DDD;

   h1 {
      text-align: center;

      #logo, #winning, #slowly {
         display: inline-block;
      }

      #logo {
         img {
            height: $fsh6;
            width: $fsh6;
            vertical-align: middle;
            margin-top: -10px;
         }
      }

      #winning, #slowly {
         text-transform: uppercase;
         line-height: 1;
         margin: 0;
      }

      #winning {
         color: $dark-orange;
         font-weight: 300;
         font-family: $slab;
         letter-spacing: 3px;
         margin-right: -0.78rem;
      }

      #slowly {
         color: $light-orange;
         font-size: $felt_multiplier_em;
         font-family: $felt;
         margin-top: -10px;
      }
   }
}

/* Podcast items */
article {
   header {
      @extend .flex-container;
   }

   h1, h2 {
      font-family: $slab;
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 0.444em;
      padding-top: 0;
      padding-bottom: 0;
   }

   h2 {
      font-weight: 300;
   }

   .meta, .title {
      height: 4em;
      margin: 0;
      padding-top: 0;
      padding-bottom: 2em;

      @extend .flex-item;
   }

   .meta {
      font-family: $sans;
      font-weight: 300;
      font-style: italic;
      padding-left: 0.243rem;
   }

   .title {
      text-align: right;
      padding-right: 0.243rem;
   }

   .title a {
      text-decoration: none;
      color: #444;
   }
}

/* Import media queries at the end to override the base */
@import 'media';
