@import 'reset';
@import 'typography';
@import 'mixins';
@import 'variables';

/* Styles */
html {
   font-size: 112.5%;
   color: $text;
   font-family: $sans;
}

body {
   background: $background;
   line-height: $lh;
}

h1 {
   font-size: $fsh1;
   font-family: $slab;
}

h2 {
   font-size: $fsh2;
   font-family: $slab;
}

h3 {
   font-size: $fsh3;
}

h4 {
   font-size: $fsh4;
}

h5 {
   font-size: $fsh5;
}

h6 {
   font-size: $fsh6;
}

p, ul, ol {
   font-size: $fsp;
   padding: {
      top: 0;
      bottom: $fsp;
   }
}

blockquote {
   font: {
      family: $slab;
      size: $fsp;
      style: italic;
   }
   margin: 0.5em 0;
   padding: 0 1em;
   border-left: 2px solid $pale_purple;
   color: $background_darkened;

   em {
      font-style: normal;
   }
}

blockquote p:last-child {
   padding-bottom: 0;
}

li blockquote {
   margin-bottom: 1.5rem;
}

ul {
   list-style: circle;
   ul {
      list-style: disc;
      ul {
         list-style: square;
         ul {
            list-style: circle;
            ul {
               list-style: disc;
            }
         }
      }
   }
}

ol {
   list-style: decimal;
   ol {
      list-style: upper-alpha;
      ol {
         list-style: upper-roman;
         ol {
            list-style: lower-alpha;
            ol {
               list-style-type: lower-roman;
            }
         }
      }
   }
}

ol ol {

}

a, a:visited {
   color: $light_purple;
   transition: all 0.347s;
   text-decoration: none;
   border-bottom: 1px solid transparent;

   &:hover, &:active {
      color: $light_blue;
      border-bottom: 1px solid $background_darkened;
   }
}

/* Layout */
#wrapper {
   max-width: 44rem;
   padding: 0 1rem;
   margin: auto;
}

/* Header */
header#banner {
   padding-top: $fsh3;
   padding-bottom: $fsh5;
   text-shadow: 1px 1px 1px #DDD;

   a {
      color: transparent;

      &:link, &:visited, &:hover, &:active {
         border-bottom: none;
      }
   }

   h1 {
      text-align: center;

      #logo, #winning, #slowly {
         display: inline-block;
      }

      #logo {
         img {
            height: $fs_large;
            width: $fs_large;
            vertical-align: middle;
            margin-top: -10px;
         }
      }

      #winning, #slowly {
         text-transform: uppercase;
         line-height: 1;
         margin: 0;
      }

      #winning {
         color: $dark_orange;
         font-weight: 300;
         font-family: $slab;
         letter-spacing: 3px;
         margin-right: -0.78rem;
      }

      #slowly {
         color: $light_orange;
         font-size: $felt_multiplier_em;
         font-family: $felt;
         margin-top: -10px;
      }
   }
}

/* Podcast items */
article {
   section {
      width: 30em;
      margin: {
         left: auto;
         right: auto;
      }
   }


}

article {
   padding-bottom: $fsh1*2;

   @mixin header-item() {
      margin-bottom: 1rem;
   }

   h1 {
      @include header-item();
      font-weight: 300;
   }

   h2 {
      @include header-item();
      font-weight: 700;
      border-bottom: 1px solid $background_darkened;
   }

   h3 {
      margin: {
         bottom: 1rem;
         left: auto;
         right: auto;
      }

   }

   header {
      text-align: center;
      .title {
         line-height: 0.9;
         h1 {
            #episode-num, #episode-title {
               display: block;
            }

            #episode-num {
               margin-bottom: 1rem;
            }

            #episode-title {
               font: {
                  size: $fsh2;
                  weight: 700;
               }
               text-transform: uppercase;
               letter-spacing: -1px;
               border-bottom: none;
            }
         }

         #episode-subtitle {
            font-size: $fsh5;
            padding-bottom: 0;
         }
      }

      .meta {
         font-family: $sans;
         font-weight: 700;
         color: $background_darkened;

      }

      ul.meta {
         line-height: $lh_small;
         display: inline-block;
         li {
            display: inline-block;
         }

         > li:after {
            content: "\25E6";
            font-size: $fs_small;
            padding: {
               left: 1px;
               right: 1px;
            }
         }

         > li:last-child:after {
            content: none;
         }
      }

         li:last-child:after {
            content: none;
         }
   }

   audio {
      display: block;
      text-align: center;
      width: 66.7%;
      margin: {
         top: $fsh2;
         bottom: $fsh3;
         left: auto;
         right: auto;
      }
   }

   h3 {
      text-align: center;
   }

   #download {
      text-align: center;
   }

   #notes {
      @mixin list() {
         margin-left: 2rem;
         padding-left: 1rem;
      }

      ul {
         @include list();
         list-style: circle;
      }

      ol {
         @include list();
         list-style: decimal-leading-zero;
      }
   }
}

.archive article {
   min-height: 4em;
   padding-bottom: 2em;

   @mixin flex-container() {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(flex-start);
      @include flex-flow(row wrap);
   }

   @mixin flex-item() {
      @include flex(1 18rem);
   }

   header {
      @include flex-container();

      line-height: $lh_small;
      text-align: left;

      a, a:visited {
         @include flex-container();

         width: 100%;
         color: #444;

         border: {
            top: none;
            left: 1px solid transparent;
            bottom: none;
            right: 1px solid transparent;
         }

         &:hover, &:active {
            color: $light_purple;
            border: {
               top: none;
               left: 8px solid $light_purple;
               bottom: none;
               right: 8px solid $light_purple;
            }
         }
      }

      .title, .meta {
         margin: 0;
         padding-top: 0;
         color: $text;

         @include flex-item();
         font: {
            size: $fsp;
            weight: 300;
         }

         span {
            display: block;
            margin: {
               top: 0;
               bottom: 0;
            }
            padding: {
               top: 0;
               bottom: 0;
            }
         }
      }

      .meta {
         font-family: $sans;
         padding: {
            top: 1px;
            left: 0.243rem;
         }

         #episode-date {
            font-style: italic;
         }
      }

      .title {
         font: {
            family: $slab;
            weight: 500;
         }
         text-align: right;
         padding-right: 0.243rem;

         #episode-title {
            text-transform: uppercase;
         }
      }

   }
}

footer {
   @include flexbox();
   @include justify-content(space-around);
   @include align-items(flex-start);
   @include flex-flow(row wrap);

   background: $text;
   color: $background;
   text-align: center;
   padding-top: $fsh3;

   p, ul, ol, h1, h2, h3, h4, h5, h6 {
      font-size: 90%;
   }

   p {
      text-align: left;
      font-weight: 300;
   }

   a, a:visited{
      color: $pale_purple;
   }

   .footer_item {
      width: 40%;
      max-width: 461px;
      padding-bottom: $fsh1;

      h1 {
         font-size: $fsh4;
         font-weight: 300;
         letter-spacing: 1px;
         color: $light_orange;
         text-shadow: 1px 1px 1px $background_darkened;
         border-bottom: 1px solid $background_darkened;
         margin-bottom: 1rem;
      }

      h2 {
         font-size: $fsh6;
         font-style: italic;
         font-weight: 400;
         padding-bottom: 0.444rem;
      }

      ul, ol {
         padding-bottom: $lh_em;
      }

      a i.fa {
         display: inline-block;
         padding-right: 5px;
         color: white;
      }
   }

   #social-wrapper {
      ul {
         text-align: left;
         padding-left: 8.889em;
         list-style: none;
      }
   }
}

/* Import media queries at the end to override the base */
@import 'media';
